body {
    background-color: burlywood;    
  }

  .box{
    box-sizing: border-box;
    background-color: lightgrey;
    width: 800px;
    border: 15px solid rgb(5, 66, 68);
    padding: 50px;
    margin: auto;
    background-image: url(../imeges/ferrari.jpg);
  }

  .main{
    display: inline-block;
    height: 70px;
    width: 70px;
  }


  .buttons{
    display: inline-block;
    border-width: 3px;
    border-color: cadetblue;
  }

  
  .btn{
    margin-left: 100px;
    font-size: x-large;
    font-weight: bold;
  }

  .one{
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
    margin-left: 70px;
    display: inline-block;
  }

  .two{
    display: inline-block;
  }

  img{
    margin-left: 150px;
    height: 70%;
    margin-top: 30px;    
  }

  .three{
    margin-left: 320px;
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
    display: inline-block;
  }

.close {
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 1.5em;
    background-color: gray;
    box-shadow: 3px 3px;
    cursor: pointer;
    
  }

  .open{
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 1.5em;
    background-color: pink;
    box-shadow: 2px 2px;
  }

.board-container{
    box-sizing: content-box;
    margin-left: 35%;
    border: 2px;
    margin-top: 20px;
    border-color: black;
}

h2{
    margin-left: 55%;
}

.steps{
  color: black;
}

.show{
    box-sizing: content-box;
    border: 3px;
    border-color: aqua;
    background-color: brown;
}
